{% extends 'base.html' %}

{% block title %}Posts in {{ category.name }}{% endblock %}

{% block content %}
    <h2>Posts in category: {{ category.name }}</h2>
    {% for post in posts %}
        <article>
            <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>
            <p>By {{ post.author.username }} on {{ post.pub_date|date:"F d, Y" }}</p>
            <p>{{ post.content|truncatewords:50 }}</p>
            <p>Comments: {{ post.comment_count }} | Views: {{ post.views }}</p>
        </article>
    {% empty %}
        <p>No posts available in this category.</p>
    {% endfor %}

    {% include 'pagination.html' %}
{% endblock %}